@import 'variables.less';
@import 'mixins.less';

.layout-section-border {
  position: absolute;
  padding: 12px;
  top: -22px;
  right: -24px;
  bottom: -4px;
  left: -24px;
}

.layout-moving-chosen-container {
  > div {
    border: thin solid @secondaryColor !important;
  }
}

.layout-moving-ghost-container {
  > div {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12) !important;
    border: thin solid @primaryColor !important;
  }
}

// TODO Delete those classes when the Applications Drawer is reworked
// (forked from Spaces Administration Application Style)
.ApplicationCard {
  min-width: 232px;
  max-width: 232px;
  width: 232px;
  height: 92px;
  border-radius: 4px !important;
  border: 1px solid @btnBorder;

  &.dashed-border {
    border-style: dashed;
  }

  .ApplicationCardImage {
    max-width: 45px;
    width: 45px;
  }
  .ApplicationCardBody, .ApplicationCardTitle, .ApplicationCardDescription {
    max-width: 133px;
    width: 133px;
  }
  .ApplicationCardAction {
    max-width: 36px;
    width: 36px;
  }
  .v-menu__content {
    top: 30px !important;
    right: 10px ~'!important; /** orientation=lt */ ';
    left: auto  ~'!important; /** orientation=lt */ ';
    left: 10px ~'!important; /** orientation=rt */ ';
    right: auto  ~'!important; /** orientation=rt */ ';
  }

  &.ApplicationCardEmbedded {
    min-width: auto;
    max-width: none;
    width: auto;
    height: 82px;
    margin: 8px -16px;

    .ApplicationCardBody {
      max-width: ~"calc(100% - 121px)";
    }
    .ApplicationCardTitle, .ApplicationCardDescription {
      max-width: 100%;
      width: 100%;
    }
  }
}

.layout-section {

  .layout-section-hover {
    border: thin solid @greyColorOpacity2 !important;
  }

  &.layout-moving-chosen-container {
    > div {
      border: none !important;
    }

    .layout-section-moving {
      border: thin solid @secondaryColor !important;
    }
  }

  &.layout-moving-ghost-container {
    > div {
      border: none !important;
      box-shadow: none !important;
    }

    .layout-section-moving {
      border: thin solid @primaryColor !important;
      box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12) !important;
    }
  }
}

.grid-cols-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-cols-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-cols-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-cols-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-cols-8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-cols-9 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-cols-10 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-cols-11 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-cols-12 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-gap-cols-1 {
  column-gap: 4px;
}
.grid-gap-cols-2 {
  column-gap: 8px;
}
.grid-gap-cols-3 {
  column-gap: 12px;
}
.grid-gap-cols-4 {
  column-gap: 16px;
}
.grid-gap-cols-5 {
  column-gap: 20px;
}

.grid-gap-rows-1 {
  row-gap: 4px;
}
.grid-gap-rows-2 {
  row-gap: 8px;
}
.grid-gap-rows-3 {
  row-gap: 12px;
}
.grid-gap-rows-4 {
  row-gap: 16px;
}
.grid-gap-rows-5 {
  row-gap: 20px;
}

.grid-cell-colspan-2 {
  grid-column-end: span 2;
}

.grid-cell-colspan-3 {
  grid-column-end: span 3;
}

.grid-cell-colspan-4 {
  grid-column-end: span 4;
}

.grid-cell-colspan-5 {
  grid-column-end: span 5;
}

.grid-cell-colspan-6 {
  grid-column-end: span 6;
}

.grid-cell-colspan-7 {
  grid-column-end: span 7;
}

.grid-cell-colspan-8 {
  grid-column-end: span 8;
}

.grid-cell-colspan-9 {
  grid-column-end: span 9;
}

.grid-cell-colspan-10 {
  grid-column-end: span 10;
}

.grid-cell-colspan-11 {
  grid-column-end: span 11;
}

.grid-cell-colspan-12 {
  grid-column-end: span 12;
}

.grid-cell-rowspan-2 {
  grid-row-end: span 2;
}

.grid-cell-rowspan-3 {
  grid-row-end: span 3;
}

.grid-cell-rowspan-4 {
  grid-row-end: span 4;
}

.grid-cell-rowspan-5 {
  grid-row-end: span 5;
}

.grid-cell-rowspan-6 {
  grid-row-end: span 6;
}

.grid-cell-rowspan-7 {
  grid-row-end: span 7;
}

.grid-cell-rowspan-8 {
  grid-row-end: span 8;
}

.grid-cell-rowspan-9 {
  grid-row-end: span 9;
}

.grid-cell-rowspan-10 {
  grid-row-end: span 10;
}

.grid-cell-rowspan-11 {
  grid-row-end: span 11;
}

.grid-cell-rowspan-12 {
  grid-row-end: span 12;
}
