@import 'variables.less';
@import 'mixins.less';

.layout-sections-parent {
  .PORTLET-FRAGMENT {
    padding-bottom: 0;
  }
}
.grid-cols-1,
.grid-cols-2,
.grid-cols-3,
.grid-cols-4,
.grid-cols-5,
.grid-cols-6,
.grid-cols-7,
.grid-cols-8,
.grid-cols-9,
.grid-cols-10,
.grid-cols-11,
.grid-cols-12 {
  --gap-col-count: ~"calc(var(--grid-column-count) - 1)";
  --gap-row-count: ~"calc(var(--grid-row-count) - 1)";
  --total-gap-width: ~"calc(var(--gap-col-count)* var(--grid-layout-gap, 20px))";
  --total-gap-height: ~"calc(var(--gap-row-count)* var(--grid-layout-gap, 20px))";
  --grid-cell--max-width: ~"calc((100% - var(--total-gap-width)) / var(--grid-column-count))";
  --grid-cell--min-width: ~"var(--grid-cell--max-width)";
  --grid-cell--max-height: ~"calc((100% - var(--total-gap-height)) / var(--grid-row-count))";
  --grid-cell--min-height: ~"var(--grid-cell--max-width)";
  display: grid;
  grid-template-columns: ~"repeat(auto-fill, minmax(max(var(--grid-cell--min-width), var(--grid-cell--max-width)), 1fr))";
  grid-template-rows: ~"repeat(auto-fill, minmax(max(var(--grid-cell--min-height), var(--grid-cell--max-height)), 1fr))";
  grid-gap: ~"var(--grid-layout-gap, 20px)";

  aspect-ratio: ~"calc(var(--grid-column-count) / var(--grid-row-count))";
  margin-bottom: ~"var(--grid-layout-gap, 20px)";
}
.grid-cell-colspan-1,
.grid-cell-colspan-2,
.grid-cell-colspan-3,
.grid-cell-colspan-4,
.grid-cell-colspan-5,
.grid-cell-colspan-6,
.grid-cell-colspan-7,
.grid-cell-colspan-8,
.grid-cell-colspan-9,
.grid-cell-colspan-10,
.grid-cell-colspan-11,
.grid-cell-colspan-12 {
  grid-column-end: span ~"var(--grid-cell-cols)";
}
.grid-cell-rowspan-1,
.grid-cell-rowspan-2,
.grid-cell-rowspan-3,
.grid-cell-rowspan-4,
.grid-cell-rowspan-5,
.grid-cell-rowspan-6,
.grid-cell-rowspan-7,
.grid-cell-rowspan-8,
.grid-cell-rowspan-9,
.grid-cell-rowspan-10,
.grid-cell-rowspan-11,
.grid-cell-rowspan-12 {
  grid-row-end: span ~"var(--grid-cell-rows)";
}

.layout-application {
  overflow-x: hidden;
  /* Scrollbar style */
  .specific-scrollbar();

  /* Default Vertical Scroll behavior */
  overflow-y: auto;
  max-height: 100%;
}
.grid-cell-height-scroll {
  .layout-application {
    overflow-y: auto;
    max-height: 100%;
  }
}
.grid-cell-height-auto {
  aspect-ratio: auto !important;

  .layout-application {
    overflow-y: hidden;
    max-height: none;
  }
}

.grid-cols-1 {
  --grid-column-count: 1;
}
.grid-cols-2 {
  --grid-column-count: 2;
}
.grid-cols-3 {
  --grid-column-count: 3;
}
.grid-cols-4 {
  --grid-column-count: 4;
}
.grid-cols-5 {
  --grid-column-count: 5;
}
.grid-cols-6 {
  --grid-column-count: 6;
}
.grid-cols-7 {
  --grid-column-count: 7;
}
.grid-cols-8 {
  --grid-column-count: 8;
}
.grid-cols-9 {
  --grid-column-count: 9;
}
.grid-cols-10 {
  --grid-column-count: 10;
}
.grid-cols-11 {
  --grid-column-count: 11;
}
.grid-cols-12 {
  --grid-column-count: 12;
}
.grid-rows-1 {
  --grid-row-count: 1;
}
.grid-rows-2 {
  --grid-row-count: 2;
}
.grid-rows-3 {
  --grid-row-count: 3;
}
.grid-rows-4 {
  --grid-row-count: 4;
}
.grid-rows-5 {
  --grid-row-count: 5;
}
.grid-rows-6 {
  --grid-row-count: 6;
}
.grid-rows-7 {
  --grid-row-count: 7;
}
.grid-rows-8 {
  --grid-row-count: 8;
}
.grid-rows-9 {
  --grid-row-count: 9;
}
.grid-rows-10 {
  --grid-row-count: 10;
}
.grid-rows-11 {
  --grid-row-count: 11;
}
.grid-rows-12 {
  --grid-row-count: 12;
}
.grid-cell-colspan-1 {
  --grid-cell-cols: 1;
}
.grid-cell-colspan-2 {
  --grid-cell-cols: 2;
}
.grid-cell-colspan-3 {
  --grid-cell-cols: 3;
}
.grid-cell-colspan-4 {
  --grid-cell-cols: 4;
}
.grid-cell-colspan-5 {
  --grid-cell-cols: 5;
}
.grid-cell-colspan-6 {
  --grid-cell-cols: 6;
}
.grid-cell-colspan-7 {
  --grid-cell-cols: 7;
}
.grid-cell-colspan-8 {
  --grid-cell-cols: 8;
}
.grid-cell-colspan-9 {
  --grid-cell-cols: 9;
}
.grid-cell-colspan-10 {
  --grid-cell-cols: 10;
}
.grid-cell-colspan-11 {
  --grid-cell-cols: 11;
}
.grid-cell-colspan-12 {
  --grid-cell-cols: 12;
}
.grid-cell-rowspan-1 {
  --grid-cell-rows: 1;
}
.grid-cell-rowspan-2 {
  --grid-cell-rows: 2;
}
.grid-cell-rowspan-3 {
  --grid-cell-rows: 3;
}
.grid-cell-rowspan-4 {
  --grid-cell-rows: 4;
}
.grid-cell-rowspan-5 {
  --grid-cell-rows: 5;
}
.grid-cell-rowspan-6 {
  --grid-cell-rows: 6;
}
.grid-cell-rowspan-7 {
  --grid-cell-rows: 7;
}
.grid-cell-rowspan-8 {
  --grid-cell-rows: 8;
}
.grid-cell-rowspan-9 {
  --grid-cell-rows: 9;
}
.grid-cell-rowspan-10 {
  --grid-cell-rows: 10;
}
.grid-cell-rowspan-11 {
  --grid-cell-rows: 11;
}
.grid-cell-rowspan-12 {
  --grid-cell-rows: 12;
}
.grid-gap-1 {
  --grid-layout-gap: 4px;
}
